In [1]:
# import
import pandas as pd
import numpy as np

In [2]:
# load data
df = pd.read_csv("data/melb_data.csv")

## Overview / Quality Assesment

In [3]:
# check data (head)
# mengecek data in general
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
# check data (tail)
df.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [5]:
# check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [6]:
# show missing
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [7]:
# show descriptive stats (only numerical)
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

### Handling missing values

### How to deal with them?
So, if the NaN values are so dangerous to the work of the Data Scientists, what we should do with them? There are a few solutions:
1. To erase the rows that have NaN values. But this is not a good choice because in such a way we lose the information, especially when we work with small datasets.2. 
To impute NaN values with specific methods or values. This article refers to these methods

There are a lot of ways to impute these gaps and in most cases, Data Scientists, especially newbies, donâ€™t know them. Here are the ways to do that:

Inpute them with specific valu. .
Impute with special metrics, for example, mean or medi n.
Impute using a method: MICE or KNN.KNN..

> ### 1. Listwise dropping

In [8]:
# copy data
df1 = df.copy()

In [9]:
# check data shape
df1.shape

(34857, 21)

In [10]:
# check null
df1.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [11]:
# dropping values using dropna()
# this will drop an entire column that contains a null value
df1 = df1.dropna()

In [12]:
# check shape after dropping
df1.shape

(8887, 21)

In [13]:
# check null after dropping
df1.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

> ### 2. Column dropping

In [14]:
# copy data
df2 = df.copy()

In [15]:
# check null
df2.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [16]:
# dropping entire column
df2 = df2.drop('BuildingArea', axis = 1)

In [17]:
# check null after dropping
df2.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [18]:
# check data shape after dropping
df2.shape

(34857, 20)

> ### 3. Pairwise dropping

In [19]:
# copy data
df3 = df.copy()

In [20]:
# check shape before dropping
df3.shape

(34857, 21)

In [21]:
# check null before dropping
df3.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [22]:
# dropping entire column (car)
df3 = df3.dropna(subset = ['Car'])

In [23]:
# check shape after dropping
df3.shape

(26129, 21)

In [24]:
# check null after dropping
df3.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5706
Method               0
SellerG              0
Date                 0
Distance             0
Postcode             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize          3458
BuildingArea     12619
YearBuilt        10831
CouncilArea          0
Lattitude           26
Longtitude          26
Regionname           0
Propertycount        0
dtype: int64

> ### 4. Impute

In [25]:
# copy data
df4 = df.copy()

In [26]:
# check shape
df4.shape

(34857, 21)

In [27]:
# check null before dropping
df4.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [28]:
# show the descriptive stats for colum 'BuildingArea'
df4['BuildingArea'].describe()

count    13742.00000
mean       160.25640
std        401.26706
min          0.00000
25%        102.00000
50%        136.00000
75%        188.00000
max      44515.00000
Name: BuildingArea, dtype: float64

In [29]:
# fill / impute data with mean
df4['BuildingArea'] = df4['BuildingArea'].fillna(round(df4['BuildingArea'].mean(), 0))

In [30]:
# check data after imputing
df4.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea         0
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

> ### Impute Missing values using information from other variables (via proxy)

In [31]:
# copy data
df5 = df.copy()

In [32]:
# check null
df5.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [33]:
# let's say we wantu to fill car null values
# car column means carspots available
# view rows where 'Car' is null
df5[df5['Car'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,8/10/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,SP,Biggin,10/12/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34840,Williamstown,3/2 Thompson St,2,u,520000.0,VB,Raine,24/02/2018,6.8,3016.0,...,NaN,NaN,NaN,NaN,NaN,Hobsons Bay City Council,NaN,NaN,Western Metropolitan,6380.0
34842,Williamstown,34 Twyford St,3,h,1400000.0,SP,Sweeney,24/02/2018,6.8,3016.0,...,2.0,NaN,325.0,158.0,1995.0,Hobsons Bay City Council,-37.86871,144.90124,Western Metropolitan,6380.0
34844,Windsor,4/16 Lewisham Rd,1,u,440000.0,SP,Biggin,24/02/2018,4.6,3181.0,...,NaN,NaN,NaN,NaN,NaN,Port Phillip City Council,NaN,NaN,Southern Metropolitan,4380.0
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,NaN,288.0,NaN,NaN,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0

In [34]:
df5['Car'].isna().sum()

8728

In [35]:
df[df5['Regionname'] == 'Western Metropolitan']['Car']

66       1.0
67       1.0
68       1.0
69       1.0
70       1.0
        ...
34852    3.0
34853    1.0
34854    2.0
34855    NaN
34856    0.0
Name: Car, Length: 6799, dtype: float64

In [36]:
# Let's say the most logical thing to fill these null values is by their region name
# therefore check median of car via region name, example = 'Wester Metropolitan'
df5_median_car_WesternMetroplitan = df5[df5['Regionname'] == 'Western Metropolitan']['Car'].median()
df5_median_car_WesternMetroplitan

2.0

In [37]:
# fill the car coloumn on certain region with theire respective median
df5[df5['Regionname'] == 'Western Metropolitan']['Car'].fillna(df5_median_car_WesternMetroplitan, inplace = True)
# this method seems to not be working

C:\Users\ASUS\AppData\Local\Temp\ipykernel_5476\927073872.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5[df5['Regionname'] == 'Western Metropolitan']['Car'].fillna(df5_median_car_WesternMetroplitan, inplace = True)

In [38]:
"""
this method uses the loc function
'.loc('row','columns')'
the .loc function will pull all the data of the row with region name 'Western Metropolitan' and column 'Car'
here is the code for comparison with the previuos one:

df5[df5['Regionname'] == 'Western Metropolitan']['Car'] == df5.loc[df5['Regionname'] == 'Western Metropolitan', 'Car']

we will then assign the median
"""
df5.loc[df5['Regionname'] == 'Western Metropolitan', 'Car'] = df5_median_car_WesternMetroplitan

In [39]:
# check if the median is already imputed
df5.loc[df5['Regionname'] == 'Western Metropolitan', 'Car']

66       2.0
67       2.0
68       2.0
69       2.0
70       2.0
        ...
34852    2.0
34853    2.0
34854    2.0
34855    2.0
34856    2.0
Name: Car, Length: 6799, dtype: float64

In [41]:
# check index and values
reg_idx = df5.groupby("Regionname")["Car"].median().index.tolist()
car_val = df5.groupby("Regionname")["Car"].median().values.tolist()

In [42]:
# zip into dictionary
region_car_fill = dict(zip(reg_idx, car_val))

In [43]:
# check dictionary
region_car_fill

{'Eastern Metropolitan': 2.0,
 'Eastern Victoria': 2.0,
 'Northern Metropolitan': 1.0,
 'Northern Victoria': 2.0,
 'South-Eastern Metropolitan': 2.0,
 'Southern Metropolitan': 2.0,
 'Western Metropolitan': 2.0,
 'Western Victoria': 2.0}

In [45]:
# loop to fill using dictionary
for i, j in region_car_fill.items():
    df5.loc[(df5['Regionname'] == i) & (df5['Car'].isna()), 'Car'] = j

In [46]:
# check after fill
df5.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car                  3
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

## References
1. https://towardsdatascience.com/whats-the-best-way-to-handle-nan-values-62d50f738fc