## MODULE

In [ ]:
# module basic math
"""
This is an example of docstring to demonstrate a module.
"""

# addition function
def add(a, b):
    """Return the sum of two numbers."""
    return a + b

# substract function
def subtract(a, b):
    """Return the difference of two numbers."""
    return a - b

# multiply function
def multiply(a, b):
    """Return the product of two numbers."""
    return a * b

# divide function
def divide(a, b):
    """
    Return the quotient of two numbers. 
    If division by zero is attempted, return a message.
    """
    if b == 0:
        return "Error: Division by zero!"
    return a / b

In [2]:
# load module
import basic_math # import standard
import basic_math as bm # rename / alias
from basic_math import multiply as mul # explicit / specific
# from basic_math import * as bm2 # all module (equal with import standar)

In [3]:
# run module help (standard)
basic_math?

Type:        module
String form: <module 'basic_math' from 'C:\\Users\\ASUS\\Jupyter\\basic_math.py'>
File:        c:\users\asus\jupyter\basic_math.py
Docstring:   This is an example of docstring to demonstrate a module.

In [5]:
# rund module help (explicit)
mul?

Signature: mul(a, b)
Docstring: Return the product of two numbers.
File:      c:\users\asus\jupyter\basic_math.py
Type:      function

In [10]:
# run module (standard)
var1 = basic_math.divide(10,5)

# run module
var2 = bm.add(10,5)

# run module
var3 = mul(10,5)

In [11]:
# import library
import numpy as np
import pandas as pd

In [16]:
# range of values
range_arr = np.arange(0,10,2) # start, stop, step
print(range_arr)

[0 2 4 6 8]

In [17]:
# example of series (one dim array)
vals = [1,2,3]
idxs = ['a', 'b', 'c']

In [19]:
# call series module with pandas
s = pd.Series(vals, idxs)
print(s)

a    1
b    2
c    3
dtype: int64

In [20]:
# import csv with pandas
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/taxis.csv')

In [21]:
# raw data
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn