## PYTHON VARIABLE AND DATATYPE

### Variables
>Variables are containers for storing data values.
>
>Python has no command for declaring a variable.
>
>A variable is created the moment you first assign a value to it.

In [5]:
# example of varaiable
x = 10
y = 1.5
z = "Hello"

In [6]:
#calling variable
print(x)

10

In [7]:
x

10

In [8]:
# calling variable horizontally
x,y,z

(10, 1.5, 'Hello')

In [9]:
# calling variable horizontally
print(x,y,z)

10 1.5 Hello

In [10]:
# variable can be replaced
x = "this is x"

In [12]:
print(x)

this is x

In [13]:
# calling variable horizontally after replace
print(x,y,z)

this is x 1.5 Hello

### Variable Names

In [14]:
# creating variable with different naming
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [15]:
# printing variable
print(myvar)

John

In [16]:
# deleting variable
del(myvar)

In [18]:
print(myvar)

NameError: name 'myvar' is not defined

In [19]:
# assign one value to multiple varianble
x = y = z = 1
print(x)
print(y)
print(z)

1
1
1

In [22]:
# assign one value to multiple varianble
number = [1,2,3]
x, y, z = number
print(x)
print(y)
print(z)

1
2
3

### Data types in python
>
>In Python, there are two main categories of data types: built-in data types and custom data types.
>
>Built-in Data Types: Python provides several built-in data types that are readily available for use without requiring additional libraries or modules. 
>
>![](https://miro.medium.com/v2/resize:fit:1400/format:webp/1*1YG9HuYt7fp-CEPBdNnlSA.png)
>
>Custom Data Types: Python also allows you to define your own data types using classes and objects, following the principles of object-oriented programming (OOP).

In [23]:
# numeric type / numbersi
num_int = 15 # integer
num_float = 7.0 # float
num_comp = 1+5j # complex

In [24]:
# string type
text_str = "tihi is string" # anything within the quote mark ("")

In [25]:
# boolean type
boolean1 = True
boolean2 = False

In [27]:
# use type to check datatype
print(type(num_int))
print(type(text_str)) 
print(type(boolean1))

<class 'int'>
<class 'str'>
<class 'bool'>

In [29]:
# alternative to check datatype
num_int?

Type:        int
String form: 15
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Check references for full category list.

In [30]:
# list type
list1 = ["apple","banana","cherry"] # list using []

In [32]:
# print list
print(list1)
print(type(list1))

['apple', 'banana', 'cherry']
<class 'list'>

In [34]:
# tuple type
tup1 = ("apple","banana","cherry") # tuple using ()

In [39]:
# print list
print(tup1)
print(type(tup1))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [38]:
# set type
set1 = {"apple","banana","cherry"} # set using {}

In [40]:
# print list
print(set1)
print(type(set1))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [42]:
# dictionary type
dict1 = {"name" : "John",
        "age" : 36} # dictionary using (key : value)

In [43]:
# print list
print(dict1)
print(type(dict1))

{'name': 'John', 'age': 36}
<class 'dict'>

# REFERENCES
1. https://www.w3schools.com/python/python_datatypes.
2. https://siddp6.medium.com/python-programming-language-part-3-6-ab0af8000e27
3. https://github.com/jakevdp/PythonDataScienceHandbook