## TYPE CASTING

### Type coversion in Python

Python defines type conversion functions to directly convert one data type to another which is useful in day-to-day and competitive programming. This article is aimed at providing information about certain conversion functions.

There are two types of Type Conversion in Pythn:

Python Implicit Type Co er

sion
Python Explicit convernve

rsion
Type Conversion in 
Python
The act of changing an objectâ€™s data type is known as type conversion. The Python interpreter automatically performs Implicit Type Conversion. Python prevents Implicit Type Conversion from losing data.
The user converts the data types of objects using specified functions in explicit type conversion, sometimes referred to as type casting. When type casting, data loss could happen if the object is forced to conform to a particular data type.

Implicit Type Conversion
 in Python
In Implicit type conversion of data types in Python, the Python interpreter automatically converts one data type to another without any user involvement. To get a more clear view of the topic see the below examples.

### Implicit Type Conversion

In Implicit type conversion of data types in Python, the Python interpreter automatically converts one data type to another without any user involvement. To get a more clear view of the topic see the below examples.

In [1]:
# converting a float to an integer
float_num = 2.66
int_num = int(float_num)
int_num, float_num

(2, 2.66)

In [4]:
# converting a string representing an integer to an integer
string_num = '123'
int_from_string = int(string_num)
string_num, int_from_string

('123', 123)

In [6]:
# Converting an integer to a float
integer_num = 3
float_from_int = float(integer_num)
integer_num, float_from_int

(3, 3.0)

In [7]:
# converting a string representin a float to a float
string_float = '3.6'
float_from_string = float(string_float)
string_float, float_from_string

('3.6', 3.6)

In [10]:
# converting an integer to a string
integer_val = 3029
string_to_val = str(integer_val)
string_to_val

'3029'

In [9]:
# converting a list to a string
list_val = ["one",2,5.6]
string_from_list = str(list_val)
string_from_list

"['one', 2, 5.6]"

In [11]:
# converting a string to a list
string_val1 = "hello"
string_val2 = "world"
tuple_val = (1,2,3,4)
set_val = {1,2,3,4}
list_val = [1,2,3,4]

In [15]:
# converting a string to a lisg
print(list(string_val1))

# converting a string to a list, without iteration using []
print([string_val1, string_val2])

# converting a tuple to a list
print(list(tuple_val))

# converting a set to a list
print(list(set_val))

['h', 'e', 'l', 'l', 'o']
['hello', 'world']
[1, 2, 3, 4]
[1, 2, 3, 4]

In [21]:
# converting a list to a tuple
print(tuple(list_val))

# converting a set to a tuple
print(tuple(set_val))

# converting a string to a tuple, without iteration using []
print((string_val1,string_val2))

# converting a string to a tuple
print(tuple(string_val1))

(1, 2, 3, 4)
(1, 2, 3, 4)
('hello', 'world')
('h', 'e', 'l', 'l', 'o')

In [23]:
# convert list to dictionary, using dict
list1 = ["a","b","c","d"]
list2 = [1,2,3]

print(dict(zip(list1,list2)))

{'a': 1, 'b': 2, 'c': 3}

In [28]:
# convert tuple / set to dict
tup1 = ["a",1]
tup2 = ["b",2]

print(tup1,tup2)
print((tup1,tup2))
print(dict((tup1,tup2)))

['a', 1] ['b', 2]
(['a', 1], ['b', 2])
{'a': 1, 'b': 2}

## References
1. https://www.pythontutorial.net/python-basics/python-type-conversion/
2. https://www.w3schools.com/python/python_casting.asp
3. https://www.geeksforgeeks.org/type-conversion-in-python/